body{
  text-align: center;
  font-size: 170%;

}
img {
    max-width: 100%; /* Максимальна ширина 100% від ширини батьківського контейнера */
    height: auto;    /* Автоматично підлаштовувати висоту, щоб не спотворювати пропорції */
    display: block;  /* Зображення має поводитися як блок, щоб уникнути зайвих відступів */
}
